* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.each-car {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.form-cars-grid {
  display: flex;
  flex-direction: column;
  margin: 40px;
  width: 160px;
}
